version: 2.1

orbs:
  go: circleci/go@1.7.3

executors:
  go:
    # Check https://circleci.com/developer/images/image/cimg/go for more details
    docker:
      - image: cimg/go:1.22.0
    resource_class: small

  java:
    # Check https://circleci.com/developer/images/image/cimg/openjdk for more details
    docker:
      - image: cimg/openjdk:11.0
    resource_class: small

  ubuntu_vm:
    machine:
      image: ubuntu-2204:2023.10.1
    resource_class: medium

commands:
  upload_results:
    description: |
      Push test results and artifacts
    steps:
      - run:
          name: "Generate coverage report"
          command: "make coverage-report"
      - store_artifacts:
          name: "Upload test artifacts"
          path: /tmp/test-artifacts
          destination: test-artifacts
      - store_test_results:
          name: "Upload test results"
          path: /tmp/test-results

jobs:
  e2e_tests:
    executor: ubuntu_vm
    environment:
      E2E_TEST: "true"
      MINIKUBE_VERSION: "1.32.0"
      HELM_VERSION: "v3.14.0"
      KUBERNETES_VERSION: "1.28.3"
      TEST_RESULTS: /tmp/test-results
      OUTPUT_DIR: /tmp/test-artifacts
      TESTARGS: "-short"
    steps:
      - checkout
      - run:
          name: "Setup environment"
          command: .circleci/setup.sh
      - run:
          name: "Run tests"
          command: |
            make testacc
      - run:
          name: "Dump Kubernetes logs"
          command: |
            bin/kubectl cluster-info dump --output-directory="$OUTPUT_DIR"
          when: on_fail
      - upload_results

  integration_tests:
    executor: java
    environment:
      TEST_RESULTS: /tmp/test-results
      OUTPUT_DIR: /tmp/test-artifacts
    steps:
      - go/install:
          version: "1.20"
      - checkout
      - run:
          name: "Create directories for results"
          command: |
            mkdir -p "$TEST_RESULTS" "$OUTPUT_DIR"
      - run:
          name: "Run integration tests"
          command: |
            make integration-tests
      - upload_results

  check_generated:
    executor: go
    steps:
      - checkout
      - run:
          name: "Generate OpenAPI client and Terraform provider documentation"
          command: make generate
      - run:
          name: "Check that there are no generated changes"
          command: make check-no-changes

  deploy_test:
    docker:
      - image: cimg/base:2022.05
    environment:
      NUODB_CP_USER: $DBAAS_TEST_USER
      NUODB_CP_PASSWORD: $DBAAS_TEST_PASSWORD
      NUODB_CP_URL_BASE: "https://dev.us-east-1.dbaas.nuodb.io/api"
    steps:
     - checkout
     - setup_remote_docker
     - run:
        command: test/app/run.sh

workflows:
  test:
    jobs:
      - e2e_tests
      - integration_tests
      - check_generated
      - deploy_test
