version: 2.1
orbs:
  go: circleci/go@1.7.3

jobs:
  test:
    machine:
      image: ubuntu-2204:2023.10.1
    resource_class: medium
    environment:
      KUBERNETES_VERSION: "1.28.3"
      MINIKUBE_VERSION: "1.32.0"
      HELM_VERSION: "v3.14.0"
      TEST_RESULTS: /tmp/test-results
    steps:
      - checkout
      - run: mkdir -p "${TEST_RESULTS}"
      - run:
          name: "Setup kubernetes"
          command: ".circleci/setup_kube.sh"
      - run:
          name: "Setup test Control Plane"
          command: "make deploy-cp"
      - run:
          name: "Run tests"
          command: "make discover-test"

workflows:
  test:
    jobs:
      - test
